:root {
    --main-color: rgb(6, 91, 72);
    --main-contrast-color: rgb(255, 235, 200);
    --accent-color: rgb(228, 145, 29);
    --accent-contrast-color: rgb(0, 29, 30);
}


/* Browser/Display fixes */
html,
body {
    margin: 0;
}

/* Box sizing fix taken from https://css-tricks.com/almanac/properties/b/box-sizing/ */ 
*, *::before, *::after {
    box-sizing: border-box;
}

/* These selectors target the HTML elements and will apply to every iteration of those elements */
body {
    background-color: var(--main-contrast-color);
    color: red; /* Defines color using named value */
    color: #FF0000; /* Defines color using hex code */
    color: rgb(255, 0, 0); /* Defines color using RGB value */
    color: rgba(255, 0, 0, 0.5); /* Defines color using RGB plus Alpha (opacity) vaule */
    color: var(--main-color);
}

h1 {
    font-size: 48px;
}

p {
    /* max-width: 600px; */
}

a {
    background-color: var(--main-color);
    color: var(--main-contrast-color);
}

a:hover {
    background-color: var(--accent-color);
    color: var(--accent-contrast-color);
}

img {
    max-width: 100%;
}

/* These target the value of the class="" property of our HTML elements, referred to as class names. */
/* You target class names in our CSS by putting a period . before the name of the class. */

.center {
    margin: 0 auto;
    max-width: 1440px;
    width: 80%;
}

.intro {
    align-content: center;
    background-blend-mode: multiply;
    background-color: var(--main-color);
    background-image: url("../images/pear-wee.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    justify-content: center;
    min-height: 300px;
    text-align: center;
}

/* Styles for the About section */
.about .center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about h2 {
    flex-basis: 100%;
}

.fact {
    flex-grow: 0;
    flex-basis: 31.5%;
}

/* "+" Targets an element with a class of, "fact" only if it immediately follows (is a direct sibling of) another element that also has a class of, "fact." */
.fact + .fact {
    margin-top: 30px;
}

.fact + .fact + .fact {
    margin-top: 60px;
}


.note {
    border-color: var(--main-color);
    border-style: solid;
    border-width: 2px;
    font-size: 14px;
    padding: 18px;
}

.special {
    font-family: sans-serif;
    font-style: italic;
}

h2.special {
    text-align: center;
}

p.special {
    max-width: none;
}

.note.special {
    border-color: green;
    color: green;
}

.note.special a {
    background-color: green;
    color: white;
}

.note.special a:hover {
    background-color: black;
    color: green;
}

/* These target the value of the id="" property on our HTML elements. These should be unique and only used once on any given HTML page. */
/* You target ids in our CSS by putting a hash # before the name of the id. */

#special-note {
    background-color: var(--main-color);
    border: none;
    color: var(--main-contrast-color);
}

#special-note a {
    background-color: var(--main-contrast-color);
    color: var(--main-color);
}

#special-note a:hover {
    background-color: var(--accent-color);
    color: var(--accent-contrast-color);
}